{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Pedido {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Dados do <b><label id="pedidosolo">Pedido {{pedidos.idped}}</label></b></h2>
                        <table class="table table-hover table-dark">
                            <tr>
                                <th>ID do Pedido</th>
                                <th>Status do Pedido</th>
                                <th>Motivo do Status</th>
                                <th>Data do Pedido</th>
                                <th>Data da Resposta</th>
                            </tr>
                            <tr>
                                <td>{{pedidos.idped}}</td>
                                <td>{{pedidos.status}}</td>
                                <td>{{pedidos.motivo}}</td>
                                <td>{{pedidos.dataped}}</td>
                                <td>{{pedidos.datares}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
