{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Cliente {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Dados de <b>{{nome}}</b></h2>
                        <table class="table table-hover table-dark">
                            <tr>
                                <th>ID</th>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Plano</th>
                                <th>Tipo de Plano</th>
                                <th>Último Atendimento</th>
                                <th>Data de Nascimento</th>
                                <th>Prontuario</th>
                                <th>Dependente</th>
                            </tr>
                            <tr>
                                <td> <label id="pagecliid">{{id}} </label></td>
                                <td> <label id="pageclicpf"> {{CPF}} </label></td>
                                <td> <label id="pageclinome">{{nome}} </label></td>
                                <td> <label id="pageclinomep">{{nomeplano}} </label></td>
                                <td> <label id="pageclitipop">{{tipoplano}} </label></td>
                                <td> <label id="pagecliultcons">{{ultcons}} </label></td>
                                <td> <label id="pageclinasc">{{datanasc}} </label></td>
                                <td> <label id="pageclipront">{{prontuario}} </label></td>
                                <td> <label id="pageclidependente">{{dependente}} </label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}